:root {

}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
header {
    width: 100%;
    height: 10vh;
}
main {
    display: flex;
    flex-direction: row;
    flex: 1;
}
aside {
    width: 20%;
}
article {
    flex: 1;
    overflow: scroll;
}
