:root {
    --primary-color: #242632;
    --secondary-color: #56596c;
    --third-color: #9a9daf;
    --primary-color-text: #d5d7dd;
}

#movies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}
.movie {
    display: flex;
    flex-direction: row;
}
.movie img {}

.title {
    color: red;
    font-size: 2rem;
}