:root {
    /* Primary Colors */
    --primary-color: #000000;    /* Dark blueish-gray */
    --secondary-color: #2e3b55;  /* Lighter blue-gray */

    /* Accent Color */
    --accent-color: #FF7F50;     /* Coral-orange */

    /* Background */
    --background-color: #F0F0F0; /* Light gray */

    /* Text Colors */
    --text-color: #333333;       /* Dark gray for text */
    --link-color: #007BFF;       /* Blue for links */

    /* Borders */
    --border-color: #DDDDDD;     /* Light gray for borders */

    /* Shadows */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#movies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}
.movie {
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--third-color);
    margin-bottom: 1rem;
}
.movie img {}

.movie-title {
    color: var(--primary-color);
}
.title {
    color: red;
    font-size: 2rem;

}
movie-description {
    padding-left: 1rem;
}