:root {
    --primary-color: #1b1c1c;
    --secondary-color: #232323;
    --third-color: #000000;
    --primary-color-text: #d5d7dd;
}

#movies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}
.movie {
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--third-color);
    margin-bottom: 1rem;
}
.movie img {}

.title {
    color: red;
    font-size: 2rem;
}
movie-description {
    padding-left: 1rem;
}